a.topmenu:hover {
	color				:#5489C8;
	border-bottom		:2px solid #5489C8;
}

.activetopmenu {
	color				:#5489C8;
	border-bottom		:2px solid #5489C8;
}

.activetopmenu-2 {
	color				:#5489C8;
}

a.activetopmenu:link {
	color				:#5489C8;
}

a.activetopmenu:visited {
	color				:#5489C8;
}

a.activetopmenu:hover {
	color				:#5489C8;
}

a.menutop_sub:hover {
	background			:#5489C8;
}
