#main {
    padding			:20px;
    background		:#ffffff;
    line-height		:20px;
}

.account_edit_container {
	margin-bottom	:30px;
	display			:flex;
    flex-wrap		:wrap;
    overflow		:hidden;
	align-content	:center;
	align-items		:center;
}

.account_edit_container .button_green, .account_edit_container .button_gray {
	width			:215px;
}

#account_password {
	float			:left;
}

.photo {
	margin-right 	:40px;
	width			:200px;
	height			:200px;
	cursor 			:pointer;
}

#image_container {
	width 			:200px;
    height 			:200px;
    border 			:solid 1px #ccc;
	box-sizing 		:border-box; 
    overflow 		:hidden;
}


.fio {
	display			:flex;
    flex-wrap		:wrap;
    overflow		:hidden;
	align-content	:center;
}

.account_edit_wrap {
	width			:100%;
	margin			:3px 0px;
}

.account_edit_textarea {
	width			:100%;
	height			:150px !important;
	max-width		:450px;
}

.text_wrap {
	width			:220px;
	line-height		:35px;
	padding-right 	:20px;
	float			:left;
	text-align		:right;
}

.text_address_wrap {
	margin-left		:5px;
	width			:100%;
	max-width		:450px;
	line-height		:35px;
	padding-right 	:20px;
}

.photo_add_hover {
	display 		:flex;
	flex-wrap		:wrap;
	align-items 	:center;
	text-align 		:center;
	width 			:200px;
	height 			:200px;
	position 		:absolute;
	color 			:#fff;
	font-size 		:20px;
	background 		:rgba(0,0,0,0.62);
}


.photo .photo_add_i_hover {
	display 		:flex;
	align-items 	:center;
	text-align 		:center;
	width 			:200px;
	height 			:200px;
	position 		:absolute;
	color 			:#fff;
	font-size 		:20px;
	background 		:rgba(0,0,0,0.38);
	opacity 		:0;
	transition 		:0.3s;
}

.photo:hover .photo_add_i_hover {
	opacity 		:1;
	transition 		:0.3s;
}

#right_final_size, #right_final_2 {
	display 		:none;
}

.gen_pass {
	margin-left		:10px;
	font-size		:20px !important;
	width			:35px;
	height			:35px;
	line-height		:35px !important;
	text-align		:center;
	border			:1px solid #ccc;
	border-radius	:50%;
	cursor			:pointer;
	box-sizing		:border-box;
}

.account_edit_address {
	width			:100%;
}