.item_photo_container {
	display				:table;
	margin				:0 auto;
	text-align			:center;
	background-color	:#ffffff;
}

.item_photo_container_border {
    position			:relative;
    padding				:20px;
    background			:#ffffff;
    border				:1px solid #cccccc;
    border-radius		:3px;
}

.item_photo_big {
	width				:100%;
}

.item_photo_more_container {
	margin				:20px auto 0px auto;
	display				:table;
}

.item_photo_more {
	float				:left;
}

.show2 {
    cursor				:pointer;
    border				:1px solid #d8d8d8;
    border-radius		:0px;
    padding				:3px;
	margin				:3px;
}

.show {
	border-radius		:0px !importanr;
    box-shadow			:none !important;
}

.item_price_out {
	margin				:10px 0px 10px 0px;
	text-align			:center;
}

.item_price_old {
	margin-top			:10px;
	text-align			:center;
	font-family			:Helvetica, sans-serif;
	font-size			:18px;
	line-height			:18px;
	text-decoration		:line-through;
}

.item_price_discount {
	margin-top			:10px;
	text-align			:center;
	font-family			:Helvetica, sans-serif;
	font-size			:24px;
	font-weight			:bold;
	color				:#ff0000;
	background-color	:#ffff00;
}

.item_rub {
	margin-left			:5px;
	font-family			:Helvetica, sans-serif !important;
	font-size			:12px !important;
}

.item_block_price {
	line-height			:40px;
	text-align			:center;
	font-family			:Helvetica, sans-serif;
	font-size			:24px;
	font-weight			:bold;
	color				:#000000;
}

.item_block_rub {
	font-size			:14px;
}

.item_sticker_new {
	height				:100px;
	width				:100px;
	position			:absolute;
	top					:0;
	left				:0;
	z-index				:1;
	margin				:-7px 0px 0px -7px;
	background-image	:url(/components/shop/frontend/tmp/images/new.png);
	background-repeat	:no-repeat;
	background-size		:100px 100px;
}

.item_sticker_sale{
	height				:100px;
	width				:100px;
	position			:absolute;
	top					:0;
	right				:0;
	z-index				:1;
	margin				:-7px -7px 0px 0px;
	background-image	:url(/components/shop/frontend/tmp/images/discount.png);
	background-repeat	:no-repeat;
	background-size		:100px 100px;
}

.item_sticker_order {
	height				:100px;
	width				:100px;
	position			:absolute;
	bottom				:0;
	left				:0;
	z-index				:1;
	margin				:0px 0px -7px -7px;
	background-image	:url(/components/shop/frontend/tmp/images/custom.png);
	background-repeat	:no-repeat;
	background-size		:100px 100px;
}

.item_sticker_hit  {
	height				:100px;
	width				:100px;
	position			:absolute;
	bottom				:0;
	right				:0;
	z-index				:1;
	margin				:0px -7px -7px 0px;
	background-image	:url(/components/shop/frontend/tmp/images/hit.png);
	background-repeat	:no-repeat;
	background-size		:100px 100px;
}

.item_rating {
	margin-top			:10px;
	text-align			:center;
	font-size			:20px;
	color				:#ffa802;
}

.item_but {
	margin-top			:10px;
	text-align			:center;
}

.item_button {
	cursor				:pointer;
	height				:25px;
	width				:120px;
	border				:none;
	font-size			:14px;
	font-weight			:bold;
	background			:url(/components/shop/frontend/tmp/images/shopbutton.png) no-repeat;
}

.item_hr {
	margin				:20px 0px;
	height				:1px;
	border				:none;
	background-color	:#DDDDDD;
}

.shop_char_table {
	margin				:0 auto;	
	width				:100%;
	max-width			:500px;	
	border				:0px;
	border-collapse		:collapse;
	border-spacing		:0px;
}

.shop_char_table td {
	vertical-align		:middle;
}

.shop_char_td_1 {
	padding-left		:10px;
	height				:25px;
}

.shop_char_table tr:nth-child(odd){
	background-color	:#eeeeee;
}

.shop_char_table tr:nth-child(even){
	background-color	:#ffffff;
}




/* сопутствуюшие товары */

.related_items {
	margin-top			:50px;
}

.related_item {
    display				:inline-block;
    text-align			:center;
    margin				:5px;
    padding				:10px;
    vertical-align		:top;
    border				:1px solid #E8E8E8;
    border-radius		:3px;
    background			:#FFFFFF;
    position			:relative;
    top					:0px;
    left				:0px;
}

.related_item_title {
    margin				:10px 0px 0px 0px;
    padding				:30px 0px 30px 0px;
    border-top			:1px solid #E8E8E8;
}

.related_item_name {
	display				:block;
    margin				:10px 0px 0px 0px;
    padding				:0px 0px 5px 0px;
    word-wrap			:break-word;
    text-decoration		:none !important;
    border-bottom		:1px dotted #E8E8E8;
    color				:#4E4E4E !important;
}

.related_item_desc {
    margin				:10px 0px 0px 0px;
    display				:table;
    width				:100%;
}

.related_item_price {
	display				:table-cell;
	vertical-align		:middle;
	font-size			:16px;
	font-weight			:bold;
}

.related_item_rub {
	font-size			:12px;
	font-weight			:normal;
}

.related_item_price_old {
	font-size			:14px;
	font-weight			:normal;
	text-decoration		:line-through;
	margin				:0px 10px 0px 0px;
	color				:#828282;
}

.related_stickers {
    width				:80px;
    position			:absolute;
    top					:0px;
    left				:0px;
    z-index				:2;	
}

a.related_sticker_new {
	display				:block;
	width				:100%;
	max-width			:120px;
	padding				:2px 6px 2px 6px;
	margin				:5px 0px 0px -5px;
	font-size			:12px;
	background			:#009A0C;
	color				:#ffffff;
	text-decoration		:none;
}

a.related_sticker_hit {
	display				:block;
	width				:100%;
	max-width			:120px;
	padding				:2px 6px 2px 6px;
	margin				:5px 0px 0px -5px;
	font-size			:12px;
	background			:#FF126B;
	color				:#ffffff;
	text-decoration		:none;
}

a.related_sticker_sale {
	display				:block;
	width				:100%;
	max-width			:120px;
	padding				:2px 6px 2px 6px;
	margin				:5px 0px 0px -5px;
	font-size			:12px;
	background			:#F7F200;
	color				:#F78000;
	text-decoration		:none;
}

.related_item_rub_sale {
	font-size			:12px;
	font-weight			:normal;
}

a.related_sticker_order {
	display				:block;
	width				:100%;
	max-width			:120px;
	padding				:2px 6px 2px 6px;
	margin				:5px 0px 0px -5px;
	font-size			:12px;
	background			:#00A2D9;
	color				:#ffffff;
	text-decoration		:none;
}

.related_item_buy {
	display					:table-cell;
	vertical-align			:middle;
}

.related_item_buy_button {
	cursor					:pointer;
	text-align				:center;
	padding					:3px;
	color					:#4C4C4C;
	border					:1px solid #E8E8E8;
	border-radius			:3px;
}

.related_item_buy_button:hover {
	color					:#ffffff;
	background				:#4C4C4C;
	border					:1px solid #272727;
}
